<% provide(:title, "Calendar") %>
<% provide(:pagetitle, "Your Calendar") %>


<h1>Meetings</h1>
<%= month_calendar events: Meeting.all do |date, meetings| %>
  <%= date.day %>
  <% meetings.each do |meeting| %>
    <%= link_to meeting.subject, meeting %>
    <br/>
  <% end %>
<% end %>


<br/>
<h1>Action Items</h1>
<%= month_calendar events: Actionitem.all do |date, items| %>
  <%= date.day %>
  <% items.each do |item| %>
    <%= link_to item.name, item %>
    <br/>
  <% end %>
<% end %>
