<h1>Welcome to the Portal</h1>

<ul>
  <li><%= link_to "Conversations", conversations_path %></li>
  <li><%= link_to "Calendar", calendar_path %></li>
  <li><%= link_to "Subjects", subjects_path %></li>
  <li><%= link_to "Meetings", meetings_path %></li>
  <li><%= link_to "Action Plans", actionplans_path %></li>
</ul>
