<% provide(:title, "Meeting") %>
<% provide(:pagetitle, "Meeting Subject: #{@meeting.subject}") %>

<%= link_to "Back to Meetings", meetings_path, class: "btn btn-primary task-button" %>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Meeting Details</h3>
  </div>
  <div class="panel-body">
    <p>Date: <%= format_datetime(@meeting.date) %></p>
    <p>Location: <%= @meeting.location %></p>
    <p>Agenda: <%= @meeting.agenda %></p>
    <p>Attendees:
      <ul>
        <% @meeting.attendees.each do |a| %>
          <li><%= a.user.name %></li>
        <% end %>
      </ul>
    </p>
    <p>
      <%= link_to "Edit Meeting", edit_meeting_path(@meeting), class: "btn btn-primary" %>
    </p>
  </div>
</div>
