<% provide(:title, "Meeting") %>

<h1>Meetings#show</h1>
<p>Find me in app/views/meetings/show.html.erb</p>
<%= link_to "Back to Meetings", meetings_path %>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @meeting.subject %></h3>
  </div>
  <div class="panel-body">
    Date: <%= @meeting.date %>
    <br/>
    Location: <%= @meeting.location %>
    <br/>
    Agenda: <%= @meeting.agenda %>
    <ul>
      <% @meeting.attendees.each do |a| %>
        <li><%= a.user.name %></li>
      <% end %>
    </ul>
  </div>
</div>
