<h1>Subjects#show</h1>
<p>Find me in app/views/subjects/show.html.erb</p>
<%= link_to "Back to Subjects", subjects_path %>

<p><%= link_to "Create a New Lesson", new_lesson_path %><p>
<p><%= link_to "Enrol Students", new_enrolment_path %></p>

<h2><%= @subject.name %></h2>
<p><%= User.find(@subject.user_id).name %></p>
<p><%= @subject.classGroup %></p>

<% Lesson.where(subject_id: @subject.id).each do |lesson| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to lesson.name, lesson %></h3>
    </div>
  </div>
<% end %>
