<% provide(:title, "#{@lesson.name} for #{@lesson.subject.name}") %>
<% provide(:pagetitle, "#{@lesson.name}") %>

<%= link_to "Back to #{@lesson.subject.name}", @lesson.subject, class: "btn btn-primary task-button" %>

<div class="lesson_details">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Lesson Details
            </h3>
        </div>
        <div class="panel-body">
          <p>Lesson Name: <%= @lesson.name %></p>
          <p>Subject Name: <%= @lesson.subject.name %></p>
          <p>Teacher: <%= @lesson.subject.user.name %></p>
          <p>Date: <%= format_datetime(@lesson.date) %></p>
          <p>Description:
            <% if @lesson.description.nil? %>
              None given.
            <% else %>
              <%= @lesson.description %>
            <% end %>
          </p>
          <p>Work: <%= link_to "Download Work", @lesson.lesson_work_url %></p>
          <%= link_to "Edit Lesson", edit_lesson_path(@lesson), class: "btn btn-primary" %>
        </div>
    </div>
</div>
