<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'application',  media: 'all',
                                              'data-turbolinks-track' => 'reload' %>

    <%= javascript_include_tag 'application',  'data-turbolinks-track' => 'reload' %>
    <!-- This code is for IE browsers less than IE 9 -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>
  <body>
    <header class="navbar navbar-top navbar-inverse nav-fill">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">
            Aston
          </a>
        </div>
        <nav>
          <ul class="nav nav-pills nav-fill">
            <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link active" href="<%= root_url %>">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="<%= user_path(current_user) %>">Welcome, <%= User.find(session[:user_id]).name %></a>
              </li>
              <% if current_user.role?(:admin) %>
                <li class="nav-item">
                  <a class="nav-link active" href="<%= users_path %>">Users</a>
                </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link active" href="<%= conversations_path %>">
                  Conversations
                  <span class="badge">
                    <% if Recipient.where(user_id: current_user.id).count > 0 %>
                      <%= Inbox.where(recipient_id: Recipient.where(user_id: current_user.id).first.id, read: false).count %>
                    <% else %>
                      0
                    <% end %>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="<%= logout_path %>", rel="nofollow" data-method="delete">Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link active" href="<%= login_path %>">Log In</a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <div class="title">
          <h1><%= yield(:pagetitle) %></h1>
      </div>
      <%= yield %>
    <!--
      <%= session.inspect %>
    -->
    </div>
  </body>
</html>
